<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Number Suite">
  <test thread-count="5" name="One">
	 <parameter name="url" value="https://www.selenium.dev/"></parameter>
	<classes>
		<class name="packOne.ClassTwo">
			
		</class>
	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
